<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>PowerCity-Launcher</title>

    <link rel="stylesheet" href="./assets/css/launcher.css" />

    <script src="https://unpkg.com/vue@next"></script>
  </head>
  <body id="app">
    <div class="frame">
      <p class="brand">PowerCity-Launcher</p>
      <button class="close" @click="close">x</button>
    </div>

    <div class="update" v-if="update.percentage != 0">
      <p>Mise à jour disponible</p>
      <p>Téléchargement : {{ Math.round(update.percentage | '0').toString() }}%</p>
      <button v-if="update.ready" @click="updateApp">Installer (Redémarrage requis)</button>
    </div>

    <div class="main" id="main">
      <div class="welcome itemMain" v-if="view == 'welcome'">
        <div class="content">
          <p>
            Bienvenue sur le Launcher de PowerCity.<br><br>
            Ce launcher permet de se connecter à PowerCity<br>
            car il inclut tout les mods nécessaire.
          </p>
          <button @click="this.switchView('login')">CONTINUER</button>
        </div>
      </div>

      <div class="login itemMain" v-if="view == 'login'">
        <div class="content">
          <img class="logo" src="./assets/images/logo.svg" width="150" />
          <div class="input-label">
            <input @keyup="triggerEnter" data-button="connect" v-model="login.username" name="" required="" />
            <label class="label">Email</label>
          </div>
          <div class="input-label">
            <input @keyup="triggerEnter" data-button="connect" v-model="login.password" type="password" name="" required="" />
            <label class="label">Mot de passe</label>
          </div>
          <button id="connect" class="connect" @click="loginUser">SE CONNECTER
            <svg style="display: none;" xmlns='http://www.w3.org/2000/svg' width='30' height='30' fill='none'>
              <circle class="loader" cx='15' cy='15' r='10' stroke='goldenrod' stroke-width='3'/>
            </svg>
          </button>
        </div>
      </div>

      <div class="landing itemMain" v-if="view == 'landing'">
        <div class="left">
          <img src="./assets/images/logo.svg" class="logo"/>
        </div>

        <div class="center">
          <button id="play" class="play" @click="play">JOUER<span></span><span></span><span></span><span></span></button>
        </div>

        <div class="right">
          <div class="avatar" v-bind:style="{backgroundImage: 'url(\'' + user.skin + '\')'}" @click="this.switchView('settings')"></div>
        </div>

        <div class="bottom">
          <div class="progressbar" v-if="progress.isVisible">
            <label class="progress_info" v-text="progress.info"></label>
            <div class="progress"><span :style="{width: progress.value + '%'}"></span></div>
          </div>
          <div class="news">
            <div class="item">
              <h1>news</h1>
              <p>blabla</p>
            </div>
            <div class="item">
              <h1>news</h1>
              <p>blabla</p>
            </div>
            <div class="item">
              <h1>news</h1>
              <p>blabla</p>
            </div>
            <div class="item">
              <h1>news</h1>
              <p>blabla</p>
            </div>

            <div class="item">
              <h1>news</h1>
              <p>blabla</p>
            </div>
          </div>
        </div>
      </div>

      <div class="settings itemMain" v-if="view == 'settings'">
        <div class="left">
          <h2 class="title">Paramètres</h2>
          <div class="list">
            <button @click="this.switchSettings('account')" :style="(settings === 'account') ? {color: 'white'} : {color: 'gray'}" >Comptes</button>
            <button @click="this.switchSettings('minecraft')" :style="(settings === 'minecraft') ? {color: 'white'} : {color: 'gray'}" >Minecraft</button>
            <button @click="this.switchSettings('about')" :style="(settings === 'about') ? {color: 'white'} : {color: 'gray'}" >À propos</button>
            <span></span>
            <button @click="this.switchView('landing')" style="color: gray;">Valider</button>
          </div>
        </div>
        <div class="right">
          <div class="account item" v-if="settings === 'account'">
            <div class="info">
              <h3 class="title">Comptes</h3>
              <p>Gerer vos comptes Minecraft</p>
            </div>

            <div class="content">
              <p><span>Pseudo : </span>{{ user.name }}</p>
              <p><span>UUID : </span>{{ user.id }}</p>
              <button @click="disconnectUser" class="disconnect">Déconnection</button>
            </div>
          </div>
          <div class="minecraft item" v-if="settings === 'minecraft'">
            <div class="info">
              <h1 class="title">Minecraft</h1>
              <p>Gerer les paramètres d'execution de Minecraft</p>
            </div>

            <div class="content">
              <div class="minRam slider">
                <h3>Mémoire minimum</h3>
                <input class="rangeSlider" data-config="minRam" type="range" :value="config.minRam" :max="config.maxRamForAsign" @input="rangeSlider">
                <span>{{ config.minRam}} G</span>
              </div>
              <div class="maxRam slider">
                <h3>Mémoire maximum</h3>
                <input class="rangeSlider" data-config="maxRam" type="range" :value="config.maxRam" :max="config.maxRamForAsign" @input="rangeSlider">
                <span>{{ config.maxRam }} G</span>
              </div>
            </div>
          </div>
          <div class="about item" v-if="settings === 'about'">
            <div class="info">
              <h1 class="title">À propos</h1>
              <p>Permet de voir les details du Launcher</p>
            </div>

            <div class="content">
              <p>
                PowerCity Launcher est un launcher Minecraft pour le serveur PowerCity.<br><br>
                Il a été créer par <a class="link" href="#" @click="openExternal('https://github.com/Kairrot')">Kairrot</a>.<br>
                Vous pouvez consulter le code source sur <a class="link" href="#" @click="openExternal('https//github.com/Kairrot/PowerCityLauncher')">GitHub</a>.<br><br>
                Ce launcher fonctionne sous Electron et VueJS3.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="assets/js/scripts/index.js"></script>
  </body>
</html>
